.row.justify-content-center
  .col-12.col-md-6
    .card
      %h1.card-header.secondary-color.white-text.text-center.py-1.font-200
        %strong ユーザー登録

      .card-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_messages
          .md-form
            = f.email_field :email, autocomplete: "email", class: "form-control", required: true
            = f.label :email
          .md-form
            = f.password_field :password, autocomplete: "current-password", class: "form-control", required: true
            = f.label :password
          .f-submit-block
            = f.submit("ユーザー登録", class: "btn btn-outline-info btn-rounded my-4 z-depth-0 btn-block")

    %p.text-center.mt-3
      = link_to "アカウントをお持ちの方", new_session_path(resource_name)
