- title "動画を作る"
- h1 "動画を作る"


%main
  = form_with model: @work, local: true do |f|
    = f.error_messages

    .my-stepper.d-flex.flex-column
      .d-flex.mb-1
        .my-stepper-left.d-flex.flex-column.align-items-center
          .rounded-circle.px-2.bg-primary.text-white.mb-1 1
          .line.h-100
        .my-stepper-right.w-100
          .ml-2.font-weight-bold ベースとなる動画をアップロードする
          .my-stepper-content.my-4.w-100.pl-4.p-0-if-smartphone
            -# .col-12.col-md-6
            .file-upload-wrapper.my-2
              = f.file_field :original_video, class: "file-upload wh-0", data: {"max-file-size" => "10M", "allowed-file-extensions" => %i(mp4 mov), "default-file" => f.object.original_video.url }, required: true, accept: "video/*"
              = f.hidden_field :original_video_cache
            %dl.text-muted.font-75
              %dd.m-0.red-text メガネは外してください。
              %dd.m-0.red-text 登場人物は一人にしてください。
              %dd.m-0 動画の長さ：最大1分まで
              %dd.m-0 ファイルサイズ：最大10MBまで
              %dd.m-0
                -# モーダルボタン
                = link_to "", "data-target" => "#hint_modal", "data-toggle" => "modal" do
                  = icon("fas", "fa-question-circle")
                  上手に作るには？

      .d-flex.mb-1
        .my-stepper-left.d-flex.flex-column.align-items-center
          .rounded-circle.px-2.bg-primary.text-white.mb-1 2
          .line.h-100
        .my-stepper-right.w-100
          .ml-2.font-weight-bold なりたい顔を選ぶ
          .my-stepper-content.my-4.mx-2.pl-4.p-0-if-smartphone
            .row
              - @trained_models.each do |trained_model|
                .col-4.col-md-2.p-1
                  = f.radio_button :trained_model_id, trained_model.id, class: "image-radio", required: true
                  = f.label :trained_model_id, value: trained_model.id, class: "w-100 image-label" do
                    .card
                      .view.pointer
                        = image_tag trained_model.face_image.url, class: "card-img-top", alt: trained_model.name
                      .card-body.p-0.pointer
                        %p.card-title.text-center.my-1.font-75-if-smartphone
                          = trained_model.display_name


      .d-flex.mb-1
        .my-stepper-left.d-flex.flex-column.align-items-center
          .rounded-circle.px-2.bg-primary.text-white.mb-1 3
          .h-100
        .my-stepper-right.w-100
          .ml-2.font-weight-bold 動画を作る
          .my-stepper-content.my-4.pl-4.p-0-if-smartphone
            = f.submit "動画を作る", class: "btn btn-primary btn-lg"

-# モーダルダイアログ(解説)
#hint_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "hint_modal_label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-header.primary-color.white-text
        %h5#hint_modal_label.modal-title 上手に作るには？

        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span.lighten-1.white-text{"aria-hidden" => "true"} ×

      .modal-body
        .text-center.grey.white-text.py-1 コツ・ポイント
        %ul.list-group.list-group-flush
          %li.list-group-item.border-dotted.px-0
            メガネは外してください。
            .text-muted.font-85 メガネや髪で顔が隠れていると不自然な仕上がりになることがあります。
          %li.list-group-item.border-dotted.px-0.border-top-0 登場人物は一人にしてください。
          %li.list-group-item.border-dotted.px-0
            できるだけ正面を向いてください。
            .text-muted.font-85 横を向いたり、カメラに近づきすぎたりすると顔を検出できないことがあります。
        .text-center.grey.white-text.py-1 ご確認
        %ul.list-group.list-group-flush
          %li.list-group-item.border-dotted.px-0 動画の長さは最大1分までです。
          %li.list-group-item.border-dotted.px-0 ファイルサイズは最大10MBまでです。
          %li.list-group-item.border-dotted.px-0.border-top-0 サポートしているファイルフォーマットはMP4・MOVです。
          %li.list-group-item.border-dotted.px-0
            = link_to order_path, target: "_blank" do
              = icon("fas", "fa-question-circle")
              1分・10MB以上の動画を作るには？
      .modal-footer
        %button.btn.btn-outline-primary{type: "button", "data-dismiss": "modal"} 閉じる

