- if notifications_exists?
  .dropdown.d-inline-block.notification-container
    %button.dropdown-toggle.btn-floating.btn-floating-border.waves-effect.btn-sm{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      = icon("fas", "fa-bell")
    %span.counter.counter-lg.counter-bell= notifications_count
    .dropdown-menu.dropdown-menu-right
      -# adminの名前空間に対応
      = render partial: "notifications/notification", collection: notifications
      .text-center= link_to "全ての通知を既読にする", :notifications, method: :patch, class: "dropdown-item"

- else
  .btn-floating.btn-floating-border-disabled.btn-sm= icon("fas", "fa-bell")
