- title "パスワードリセット"

.row.justify-content-center
  .col-12.col-md-6
    .card

      %h1.card-header.info-color.white-text.text-center.py-3.font-200
        %strong パスワードリセット

      .card-body
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.error_messages
          = f.hidden_field :reset_password_token
          .md-form
            = f.password_field :password, autocomplete: "new-password", class: "form-control", required: true
            = f.label :password
          .f-submit-block
            = f.submit("パスワードリセット", class: "btn btn-outline-info btn-rounded my-4 z-depth-0 btn-block")
