%footer.page-footer.font-small.stylish-color-dark.pt-3.mt-50px.sticky-bottom
  %ul.list-unstyled.list-inline.text-center
    %li.list-inline-item
      = link_to "お問い合わせ", contact_path, class: %i[btn btn-outline-default waves-effect font-weight-bold]
    %li.list-inline-item
      = link_to Settings.twitter_url, class: %i[btn-floating btn-tw mx-1], target: "_blank" do
        = icon("fab", "fa-twitter")
    %li.list-inline-item
      = link_to Settings.github_url, class: %i[btn-floating btn-reddit mx-1], target: "_blank" do
        = icon("fab", "fa-github")

  .footer-copyright.text-center.py-3.font-75
    %span.mx-1 ©shita1112 2019
    %a.mx-1= link_to "プライバシーポリシー", policy_path
    %a.mx-1= link_to "免責事項", disclaimer_path
