!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    = display_meta_tags_default

    = stylesheet_link_tag "application", media: "all"

    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag
    = analytics_init if Rails.env.production?

  %body
    = render "navbar"
    .container.content
      = render "flash_message"
      = yield
    = render "footer"

    = Gon::Base.render_data
    = javascript_pack_tag "application"
